
/*MY CODE BELOW*/

  body {background-color:#BCE1D9}

*{
  margin: 0;
 padding: 0;
}

nav{
  width: 100%;
  height: 115px;
  background-color: #d8f2ec;
}
  ul{
    margin-left: 10px;
  }
  ul li{
    list-style: none;
    display: inline-block;
    line-height: 145px;
  }
  ul li a{

    color: #66BAA9;
    font-size: 40px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    /*font-style: italic */
    text-decoration: none;
    padding: 0 25px;
    display: inline-block;

  }
  ul li a:hover {
    color: #2c9c8d;
  }


  h1{
    color: #66BAA9;
    font-size: 50px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    margin-left: 30px;
    /*font-style: italic */
  }

  h2{
    font-size: 35px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    /*font-style: italic */
    color: #F09973;
    margin-left: 30px;
  }

  h3{
    font-size: 35px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    /*font-style: italic */
    color: #292C35;
  }
  h5{
    font-size: 20px;
    font-family: 'Source Sans Pro';
    font-weight: 300;
    /*font-style: italic */
    color: #292C35;
    margin-left: 30px;
  }

  p {
    font-size: 18px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    /*font-style: italic */
    color: #1b2336;
    background-color: #D8F2EC;
    margin-left: 30px;
  }

.wrapper {
    margin: 0 auto;
    width: 1000px;
}
/* img classes*/
.img-mb {
  margin-left: 30px;
  width: 300px;
}
.img-LoG {
  width: 800px;
}
